------------------------------- Data Exploration with Pandas: College Major vs. Your Salary ----------------------------------------------

In [3]:
import pandas as pd
salary_data = pd.read_csv('salaries_by_college_major.csv')
salary_data.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [4]:
salary_data.shape

(51, 6)

In [5]:
salary_data.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [6]:
salary_data.isna()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False
30,False,False,False,False,False,False
31,False,False,False,False,False,False
32,False,False,False,False,False,False
33,False,False,False,False,False,False
34,False,False,False,False,False,False
35,False,False,False,False,False,False
36,False,False,False,False,False,False
37,False,False,False,False,False,False
38,False,False,False,False,False,False
39,False,False,False,False,False,False
40,False,False,False,False,False,False
41,False,False,False,False,False,False
42,False,False,False,False,False,False
43,False,False,False,False,False,False
44,False,False,False,False,False,False
45,False,False,False,False,False,False
46,False,False,False,False,False,False
47,False,False,False,False,False,False
48,False,False,False,False,False,False
49,False,False,False,False,False,False
50,False,True,True,True,True,True

In [7]:
salary_data.isna().sum()

Undergraduate Major                  0
Starting Median Salary               1
Mid-Career Median Salary             1
Mid-Career 10th Percentile Salary    1
Mid-Career 90th Percentile Salary    1
Group                                1
dtype: int64

In [8]:
salary_data.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [9]:
clean_df = salary_data.dropna()
clean_df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS

In [10]:
clean_df['Starting Median Salary']

0     46000.0
1     57700.0
2     42600.0
3     36800.0
4     41600.0
5     35800.0
6     38800.0
7     43000.0
8     63200.0
9     42600.0
10    53900.0
11    38100.0
12    61400.0
13    55900.0
14    53700.0
15    35000.0
16    35900.0
17    50100.0
18    34900.0
19    60900.0
20    38000.0
21    37900.0
22    47900.0
23    39100.0
24    41200.0
25    43500.0
26    35700.0
27    38800.0
28    39200.0
29    37800.0
30    57700.0
31    49100.0
32    36100.0
33    40900.0
34    35600.0
35    49200.0
36    40800.0
37    45400.0
38    57900.0
39    35900.0
40    54200.0
41    39900.0
42    39900.0
43    74300.0
44    50300.0
45    40800.0
46    35900.0
47    34100.0
48    36500.0
49    34000.0
Name: Starting Median Salary, dtype: float64

In [11]:
clean_df['Starting Median Salary'].max()

74300.0

In [12]:
clean_df['Starting Median Salary'].idxmax()

43

In [14]:
clean_df['Undergraduate Major'].loc[43]

'Physician Assistant'

In [15]:
clean_df.loc[43]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).

In [16]:
clean_df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

In [17]:
clean_df.loc[clean_df['Mid-Career Median Salary'].idxmax()]

Undergraduate Major                  Chemical Engineering
Starting Median Salary                            63200.0
Mid-Career Median Salary                         107000.0
Mid-Career 10th Percentile Salary                 71900.0
Mid-Career 90th Percentile Salary                194000.0
Group                                                STEM
Name: 8, dtype: object

Which college major has the lowest starting salary and how much do graduates earn after university?

In [18]:
clean_df.loc[clean_df['Starting Median Salary'].idxmin()]

Undergraduate Major                  Spanish
Starting Median Salary               34000.0
Mid-Career Median Salary             53100.0
Mid-Career 10th Percentile Salary    31000.0
Mid-Career 90th Percentile Salary    96400.0
Group                                   HASS
Name: 49, dtype: object

Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?

In [19]:
clean_df.loc[clean_df['Mid-Career Median Salary'].idxmin()]

Undergraduate Major                  Education
Starting Median Salary                 34900.0
Mid-Career Median Salary               52000.0
Mid-Career 10th Percentile Salary      29300.0
Mid-Career 90th Percentile Salary     102000.0
Group                                     HASS
Name: 18, dtype: object

**Sorting Values & Adding Columns: Majors with the Most Potential vs Lowest Risk**

In [20]:
clean_df['diff'] = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']

C:\Users\basak\AppData\Local\Temp\ipykernel_28984\3459181681.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['diff'] = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']

In [34]:
low_risk = clean_df['diff'].sort_values(ascending=True)
clean_df.loc[low_risk.index]

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group,diff
40,Nursing,54200.0,67000.0,47600.0,98300.0,Business,50700.0
43,Physician Assistant,74300.0,91700.0,66400.0,124000.0,STEM,57600.0
41,Nutrition,39900.0,55300.0,33900.0,99200.0,HASS,65300.0
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS,65400.0
27,Health Care Administration,38800.0,60600.0,34600.0,101000.0,Business,66400.0
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS,66700.0
23,Forestry,39100.0,62600.0,41000.0,111000.0,Business,70000.0
32,Interior Design,36100.0,53200.0,35700.0,107000.0,HASS,71300.0
18,Education,34900.0,52000.0,29300.0,102000.0,HASS,72700.0
15,Criminal Justice,35000.0,56300.0,32200.0,107000.0,HASS,74800.0
26,Graphic Design,35700.0,59800.0,36000.0,112000.0,HASS,76000.0
31,Information Technology (IT),49100.0,74800.0,44500.0,129000.0,STEM,84500.0
10,Civil Engineering,53900.0,90500.0,63400.0,148000.0,STEM,84600.0
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business,85400.0
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS,87300.0
29,Hospitality & Tourism,37800.0,57500.0,35500.0,124000.0,Business,88500.0
24,Geography,41200.0,65500.0,40000.0,132000.0,HASS,92000.0
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS,95400.0
12,Computer Engineering,61400.0,105000.0,66100.0,162000.0,STEM,95900.0
5,Art History,35800.0,64900.0,28800.0,125000.0,HASS,96200.0
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM,96700.0
13,Computer Science,55900.0,95500.0,56000.0,154000.0,STEM,98000.0
6,Biology,38800.0,64800.0,36900.0,135000.0,STEM,98100.0
19,Electrical Engineering,60900.0,103000.0,69300.0,168000.0,STEM,98700.0
38,Mechanical Engineering,57900.0,93600.0,63700.0,163000.0,STEM,99300.0
20,English,38000.0,64700.0,33400.0,133000.0,HASS,99600.0
35,Management Information Systems (MIS),49200.0,82300.0,45300.0,146000.0,STEM,100700.0
21,Film,37900.0,68500.0,33900.0,136000.0,HASS,102100.0
9,Chemistry,42600.0,79900.0,45300.0,148000.0,STEM,102700.0
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS,104200.0
11,Communications,38100.0,70000.0,37500.0,143000.0,HASS,105500.0
34,Journalism,35600.0,66700.0,38400.0,145000.0,HASS,106600.0
39,Music,35900.0,55000.0,26700.0,134000.0,HASS,107300.0
7,Business Management,43000.0,72100.0,38800.0,147000.0,Business,108200.0
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business,109800.0
25,Geology,43500.0,79500.0,45000.0,156000.0,STEM,111000.0
28,History,39200.0,71000.0,37000.0,149000.0,HASS,112000.0
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business,113700.0
14,Construction,53700.0,88900.0,56300.0,171000.0,Business,114700.0
30,Industrial Engineering,57700.0,94700.0,57100.0,173000.0,STEM,115900.0
16,Drama,35900.0,56900.0,36700.0,153000.0,HASS,116300.0
33,International Relations,40900.0,80900.0,38200.0,157000.0,HASS,118800.0
44,Physics,50300.0,97300.0,56000.0,178000.0,STEM,122000.0
8,Chemical Engineering,63200.0,107000.0,71900.0,194000.0,STEM,122100.0
45,Political Science,40800.0,78200.0,41200.0,168000.0,HASS,126800.0
42,Philosophy,39900.0,81200.0,35500.0,168000.0,HASS,132500.0
36,Marketing,40800.0,79600.0,42100.0,175000.0,Business,132900.0
37,Math,45400.0,92400.0,45200.0,183000.0,STEM,137800.0
22,Finance,47900.0,88300.0,47200.0,195000.0,Business,147800.0
17,Economics,50100.0,98600.0,50600.0,210000.0,Business,159400.0

Find the top 5 degrees with the highest values in the 90th percentile.

In [37]:
clean_df.loc[clean_df['Mid-Career 90th Percentile Salary'].sort_values(ascending=False).index].head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group,diff
17,Economics,50100.0,98600.0,50600.0,210000.0,Business,159400.0
22,Finance,47900.0,88300.0,47200.0,195000.0,Business,147800.0
8,Chemical Engineering,63200.0,107000.0,71900.0,194000.0,STEM,122100.0
37,Math,45400.0,92400.0,45200.0,183000.0,STEM,137800.0
44,Physics,50300.0,97300.0,56000.0,178000.0,STEM,122000.0

Find the degrees with the greatest spread in salaries.

In [40]:
clean_df.loc[clean_df["diff"].sort_values(ascending=False).index].head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group,diff
17,Economics,50100.0,98600.0,50600.0,210000.0,Business,159400.0
22,Finance,47900.0,88300.0,47200.0,195000.0,Business,147800.0
37,Math,45400.0,92400.0,45200.0,183000.0,STEM,137800.0
36,Marketing,40800.0,79600.0,42100.0,175000.0,Business,132900.0
42,Philosophy,39900.0,81200.0,35500.0,168000.0,HASS,132500.0

In [48]:
highest_spread = clean_df.sort_values('Mid-Career Median Salary', ascending=False)
highest_spread.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group,diff
8,Chemical Engineering,63200.0,107000.0,71900.0,194000.0,STEM,122100.0
12,Computer Engineering,61400.0,105000.0,66100.0,162000.0,STEM,95900.0
19,Electrical Engineering,60900.0,103000.0,69300.0,168000.0,STEM,98700.0
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM,96700.0
17,Economics,50100.0,98600.0,50600.0,210000.0,Business,159400.0

**Grouping and Pivoting Data with Pandas**

In [49]:
clean_df.groupby('Group').count()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,diff
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16

In [50]:
clean_df.groupby('Group').mean()

C:\Users\basak\AppData\Local\Temp\ipykernel_28984\804588024.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  clean_df.groupby('Group').mean()

,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,diff
Group,,,,,
Business,44633.333333,75083.333333,43566.666667,147525.000000,103958.333333
HASS,37186.363636,62968.181818,34145.454545,129363.636364,95218.181818
STEM,53862.500000,90812.500000,56025.000000,157625.000000,101600.000000

In [52]:
pd.options.display.float_format = '{:,.2f}'.format
clean_df.groupby('Group').mean()

C:\Users\basak\AppData\Local\Temp\ipykernel_28984\1335618228.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  clean_df.groupby('Group').mean()

,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,diff
Group,,,,,
Business,"44,633.33","75,083.33","43,566.67","147,525.00","103,958.33"
HASS,"37,186.36","62,968.18","34,145.45","129,363.64","95,218.18"
STEM,"53,862.50","90,812.50","56,025.00","157,625.00","101,600.00"

In [2]:
import requests
import bs4

from bs4 import BeautifulSoup
import requests
import pandas as df
import json
 
url = 'https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors'
 
url_list = []
url_list.append(url)
for numbers in range(2, 35):
    url_list.append(url + f'/page/{numbers}')
 
rank = []
field = []
early_pay = []
mid_career = []
high_mean = []
 
for item in url_list:
    response = requests.get(item)
    new_stat = response.text
 
    soup = BeautifulSoup(new_stat, 'html.parser')
    pay = soup.find_all(name="span", class_="data-table__value")
 
 
    i = 0
    for item in pay:
        if i == 0:
            rank.append(item.text)
            i += 1
        elif i == 1:
            field.append(item.text)
            i += 1
        elif i == 2:
            i += 1
        elif i == 3:
            early_pay.append(item.text)
            i += 1
        elif i == 4:
            mid_career.append(item.text)
            i += 1
        else:
            high_mean.append(item.text)
            i = 0
 
 
# print(soup.prettify())
 
page = df.DataFrame(
    {
        "Rank": rank,
        "Field": field,
        "Early Career Pay": early_pay,
        "Mid-Career Pay": mid_career,
        "% High Meaning" : high_mean,
    }
)
 
page.to_csv("new_data.csv", index=False)